.items__subtitle {
  max-width: 574px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: calc(10px + 8 * (100vw / 1440));
  line-height: 167%;

  color: #555555;
  margin-bottom: 4%;
}
