.order__images {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin: 13% 13% 0 14%;
  max-width: 194px;
  width: 50%;
  max-height: 420px;
}
@media screen and (max-width: 960px) {
  .order__images {
    margin-top: 20%;
  }
}
@media screen and (max-width: 515px) {
  .order__images {
    margin-top: 40%;
  }
}
@media screen and (max-width: 387px) {
  .order__images {
    margin-top: 50%;
  }
}
