.order__button {
  background: #f3fbf8;
  border-radius: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 100%;

  color: #333333;
  padding: 11px 24px;
  border: none;
}
@media screen and (max-width: 960px) {
  .order__button {
    font-size: calc(9px + 9 * (100vw / 1440));
  }
}
