.footer__info {
  margin-left: 7%;
}
@media screen and (max-width: 876px) {
  .footer__info {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-right: 7%;
    text-align: center;
    margin-bottom: 5%;
  }
}
