.product__subtitle {
  max-width: 636px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 6 * (100vw / 1440));
  line-height: 166%;
  text-align: center;
  color: #555555;
  margin: 0 0 2.77%;
  z-index: 5;
}
