.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 6 * (100vw / 1440));
  line-height: 127%;

  color: #555555;
  text-decoration: none;
  margin-bottom: 25px;
}
.footer__link:last-child {
  margin-bottom: 0;
}
