.product__img-vegetabl {
  max-width: 600px;
  width: 45%;
  position: absolute;
  left: 120px;
  bottom: 32px;
}
@media screen and (max-width: 1055px) {
  .product__img-vegetabl {
    position: relative;
    left: 0px;
  }
}
