.items__button {
  padding: 11px 14px;
  color: white;
  border-radius: 68px;
  border: none;
  background: #09a66d;
  font-size: 2.5rem;
  max-height: 68px;
}
@media screen and (max-width: 640px) {
  .items__button {
    font-size: 2rem;
    padding: 12px 14px;
  }
}
@media screen and (max-width: 440px) {
  .items__button {
    font-size: 2rem;
    padding: 8px 10px;
  }
}
