.about__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12%;
  padding: 0 12%;
}
.about__card:nth-child(2) {
  padding: 41px 59px;
}

.about__card:last-child {
  margin-bottom: 10%;
}
@media screen and (max-width: 1055px) {
  .about__card {
    margin-bottom: 7%;
  }
  .about__card:last-child {
    margin-bottom: 50px;
    max-width: 500px;
  }
  .about__card:nth-child(2) {
    padding: 41px 12%;
    margin-bottom: 7%;
  }
}
