.about__img {
  max-width: 420px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7%;
}
@media screen and (max-width: 1055px) {
  .about__img {
    margin: 0;
    margin-bottom: 100px;
  }
}
