.footer__navigation {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 876px) {
  .footer__navigation {
    align-items: center;
  }
  .footer__navigation:nth-child(3) {
    margin-right: 7%;
  }
}
@media screen and (max-width: 666px) {
  .footer__navigation:nth-child(2) {
    margin-right: 7%;
  }
}
@media screen and (max-width: 528px) {
  .footer__navigation:nth-child(2) {
    margin-left: 7%;
    margin-bottom: 5%;
  }
}
