@import url(../vendors/normalize.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__basket/header__basket.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__navigation/header__navigation.css);
@import url(../blocks/header/__registration/header__registration.css);
@import url(../blocks/header/__search/header__search.css);
@import url(../blocks/header/__buttons/header__buttons.css);
@import url(../blocks/main/main.css);
@import url(../blocks/product/product.css);
@import url(../blocks/product/__button/product__button.css);
@import url(../blocks/product/__card-subtitle/product__card-subtitle.css);
@import url(../blocks/product/__card-title/product__card-title.css);
@import url(../blocks/product/__card/product__card.css);
@import url(../blocks/product/__cards/product__cards.css);
@import url(../blocks/product/__img/product__img.css);
@import url(../blocks/product/__info/product__info.css);
@import url(../blocks/product/__link/product__link.css);
@import url(../blocks/product/__paragraph/product__paragraph.css);
@import url(../blocks/product/__subtitle/product__subtitle.css);
@import url(../blocks/product/__title/product__title.css);
@import url(../blocks/product/__card-info/product__card-info.css);
@import url(../blocks/product/__img-lips/product__img-lips.css);
@import url(../blocks/product/__img-vegetabl/product__img-vegetabl.css);
@import url(../blocks/about/about.css);
@import url(../blocks/about/__card-img/about__card-img.css);
@import url(../blocks/about/__card-info/about__card-info.css);
@import url(../blocks/about/__card-subtitle/about__card-subtitle.css);
@import url(../blocks/about/__card-title/about__card-title.css);
@import url(../blocks/about/__card/about__card.css);
@import url(../blocks/about/__cards/about__cards.css);
@import url(../blocks/about/__subtitle/about__subtitle.css);
@import url(../blocks/about/__title/about__title.css);
@import url(../blocks/about/__card-text/about__card-text.css);
@import url(../blocks/about/__card-dark/about__card-dark.css);
@import url(../blocks/about/__card-light/about__card-light.css);
@import url(../blocks/about/__img/about__img.css);
@import url(../blocks/about/__img-bg/about__img-bg.css);
@import url(../blocks/about/__img-man/about__img-man.css);
@import url(../blocks/about/__vector/about__vector.css);
@import url(../blocks/about/__content/about__content.css);
@import url(../blocks/items/items.css);
@import url(../blocks/items/__button/items__button.css);
@import url(../blocks/items/__container/items__container.css);
@import url(../blocks/items/__img/item__img.css);
@import url(../blocks/items/__info/items__info.css);
@import url(../blocks/items/__link/items__link.css);
@import url(../blocks/items/__lips/items__lips.css);
@import url(../blocks/items/__paragraph/items__paragraph.css);
@import url(../blocks/items/__subtitle/items__subtitle.css);
@import url(../blocks/items/__title/items__title.css);
@import url(../blocks/customer/customer.css);
@import url(../blocks/customer/__img-bar/customer__img-bar.css);
@import url(../blocks/customer/__img-man/customer__img-man.css);
@import url(../blocks/customer/__img/customer__img.css);
@import url(../blocks/customer/__info/customer__info.css);
@import url(../blocks/customer/__slider-button/customer__slider-button.css);
@import url(../blocks/customer/__slider-buttons/customer__slider-buttons.css);
@import url(../blocks/customer/__slider-container/customer__slider-container.css);
@import url(../blocks/customer/__slider-img/customer__slider-img.css);
@import url(../blocks/customer/__slider-title/customer__slider-title.css);
@import url(../blocks/customer/__slider/customer__slider.css);
@import url(../blocks/customer/__subtitle/customer__subtitle.css);
@import url(../blocks/customer/__title/customer__title.css);
@import url(../blocks/customer/__slider-enable/customer__slider-enable.css);
@import url(../blocks/order/order.css);
@import url(../blocks/order/__button/order__button.css);
@import url(../blocks/order/__img/order__img.css);
@import url(../blocks/order/__info/order__info.css);
@import url(../blocks/order/__link-img/order__link-img.css);
@import url(../blocks/order/__link/order__link.css);
@import url(../blocks/order/__links/order__links.css);
@import url(../blocks/order/__subtitle/order__subtitle.css);
@import url(../blocks/order/__title/order__title.css);
@import url(../blocks/order/__images/order__images.css);
@import url(../blocks/order/__img-back/order__img-back.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__contact/footer__contact.css);
@import url(../blocks/footer/__container/footer__container.css);
@import url(../blocks/footer/__img-link/footer__img-link.css);
@import url(../blocks/footer/__img/footer__img.css);
@import url(../blocks/footer/__info/footer__info.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__mail/footer__mail.css);
@import url(../blocks/footer/__navigation/footer__navigation.css);
@import url(../blocks/footer/__subtitle/footer__subtitle.css);
@import url(../blocks/footer/__title/footer__title.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__menu-link/header__menu-link.css);
@import url(../blocks/header/__menu-list/header__menu-list.css);
@import url(../blocks/header/__list/header__list.css);
