.items__paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 167%;

  text-align: center;
  margin-right: 20px;
  text-align: center;

  color: #222222;
}
@media screen and (max-width: 660px) {
  .items__paragraph {
    font-size: calc(12px + 6 * (100vw / 1440));
  }
}
