.about__subtitle {
  max-width: 637px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 6 * (100vw / 1440));
  line-height: 167%;

  color: #555555;
  margin: 0;
  margin-left: 6.94444444%;
}
