.header__list {
  display: none;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .header__list {
    display: flex;
  }
  .header__list .header__menu-list {
    width: 100px;
    list-style: none;
    position: relative;
    background-color: none;
  }
  .header__list .header__menu-link {
    display: block;
    transition: all 0.5s;
  }
  .header__list .header__menu-link:hover {
    background-color: #09a66d;
    color: white;
  }
  .header__list .header__menu {
    position: absolute;
    left: 0;
    top: 25px;
    display: none;
    padding: 0;
    z-index: 5;
  }
  .header__list .header__menu-list:hover .header__menu {
    display: block;
  }
}
@media screen and (max-width: 880px) {
  .header__list {
    margin-top: 15px;
    order: 3;
  }
}
@media screen and (max-width: 880px) {
  .header__list {
    margin-top: 15px;
    order: 3;
  }
}
@media screen and (max-width: 513px) {
  .header__list {
    margin-top: 15px;
    margin-left: 0;
  }
}
