.product__info {
  background: #f3fbf8;
  border-radius: 56px;
  padding: 16px;
  margin: 30px 24px 30px 33px;
}
@media screen and (max-width: 1055px) {
  .product__info {
    margin: 15px 12px 15px 16px;
  }
}
@media screen and (max-width: 430px) {
  .product__info {
    padding: 8px;
    margin: 7px 6px 7px 8px;
  }
}
